{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Laenutused{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="laenutused" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>

      </div>
    </div>
  </div>
</div>


</div>

<div id="sec3">
  <div class="container">
    <div class="row">
      <div id="map-outer" class="col-md-12">
        <div id="address" class="col-md-4">
          <h2>.</h2>

        </div>
        <div id="sisu" class="col-md-8">Siia tuleb laenutuste loetelu. Siia tuleb laenutuste loetelu. Siia tuleb laenutuste loetelu. Siia tuleb laenutuste loetelu. Siia tuleb laenutuste loetelu. Siia tuleb laenutuste loetelu. Siia tuleb laenutuste loetelu. Siia tuleb laenutuste loetelu. Siia tuleb laenutuste loetelu. Siia tuleb laenutuste loetelu. Siia tuleb laenutuste loetelu. </div>
      </div>
    </div>
  </div>
</div>
{% endblock container %}
